.card-section {
    padding: 2em;
}

a {
    text-decoration: none;
}

.card-header {
    text-align: center;
    padding-bottom: 1em;
}

.card-header p {
    margin-top: 5px;
}

.card_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin-top: 1em;
}

.card-items {
    width: 100%;
    position: relative;
    list-style: none;
    background-color: white;
    padding: 8px;
    border-radius: 6px;
}

.img-section {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    height: 200px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eee;

}

.card-img {
    width: 195px;
    height: 195px;
    object-fit: cover;
    border-radius: 6px;
    transition: .5s ease-out;
}

.card-img:hover {
    transform: scale(1.1);
}

.favourite-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #eee;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-text-stroke: 1px red;
    color: #eee;
    cursor: pointer;
}

.favourite-icon-active {
    color: red;
}

.price-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fa-plus {
    top: 10px;
    right: 10px;
    background-color: red;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.fa-plus:hover {
    background-color: #242424;
}

.phone-name {
    color: black;
    font-size: 19px;
    margin: 15px 0;
}

.price {
    color: black;
    font-size: 19px;
    font-weight: bold;
    margin-top: 4px;
}

@media screen and (max-width: 1000px) {

    .card_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {

    .card-section {
        position: relative;
        top: 70px;
    }
}

@media screen and (max-width: 780px) {
    .card_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-section {
        position: relative;
        top: 70px;
    }
}

@media screen and (max-width: 580px) {
    .card_wrapper {
        grid-template-columns: 1fr;
    }
}