.nav-container{
    background-color: white;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 3em;
    font-family: 'Trebuchet MS';
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    z-index: 50;
}
.nav-item{
    margin-top: 5px;
}
.nav-menus{
    display: flex;
    margin-top: 10px;
}
.cart-section{
    display: flex;
    
}
.cart, .user{
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left:1em;
    font-size: 18px;
}
.cart{
    position: relative;
}
.cart-num{
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: red;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    right: -5px;
    top: 0px;
    padding: 2px;
}
.nav-search{
    display: flex;
    background-color: black;
    color: white;
    width: 300px;
    border-radius: 5px;
    margin: 0 2em 0 3em;
}
.nav-search input{
    padding: 7px 1em;
    background: none;
    border: none;
    width: 100%;
    color: white;
    outline: none;
}
.nav-search input::placeholder{
    color: rgb(215, 215, 215);
}
.fa-search{
    font-size: 17px;
    padding: 5px 0 5px 10px;
    cursor: pointer;
}
.fa-search:hover{
    color: rgb(204, 204, 204);
}
.nav-link{
    font-weight: 600;
    text-decoration: none;
    padding: 1em;
    color: rgb(173, 173, 173);
    font-size: 17px;
}
.nav-menu-icon{
    display: none;
}
.nav-link:hover, .active-link{
    color: red;
}
.nav-logo{
    color: red;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
}
@media screen and (max-width: 1100px){
    .nav-search{
        width: 100%;
        margin: 0em;
    }
}
@media screen and (max-width: 900px){
    .nav-container{
        padding: 0px 2em;
    }
    .nav-menu-icon{
        display: block;
        font-size: 30px;
        margin-left: 20px;
        margin-top: -3px;
        cursor: pointer;
    }
    .fa-times{
        color: red;
    }
    .nav-container{
        position: relative;
    }
    .nav-menu{
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        list-style: none;
        left: -100%;
        top: 54px;
        background-color: #242424;
        /* justify-content: center; */
        align-items: center;
        padding-bottom: 4em;
        padding-top: 2em;
        transition: .5s ease-out;
    }
    .active{
        left: 0px;
    }
    .nav-search{
        background-color: black;
        color: white;
        width: 100%;
        margin: 0;
    }
    .nav-search input{
        padding:1em;
    }
    .fa-search{
        font-size: 19px;
        padding:  10px 0 10px 10px;
        
    }
    .nav-link{
        padding: 0em;
        font-size: 20px;
    }
}   

